.el-panel-modal{
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  overflow: auto;
  top:0px;
  left:0px;
  height: 100%;
  width: 100%;
}

.el-panel-modal-wrapper{
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin: 60px auto;
}

.el-panel-modal-cotent{

}

.el-panel-modal-footer{
  text-align: right;
  padding-top: 10px;
}

.el-panel-modal-header{
  height: 40px;
  display: flex;
}
.el-panel-modal-title {
  flex: 1;
  font-weight: bold;
}
.el-panel-modal-close-btn{
  text-align: right;
  cursor: pointer;
  color: #bfcbd9;
}
